{% extends "home.html" %}
{% block title %} selletf Page {% endblock %}
{% block content %}
<body class="text-center">
    <form action="#" method="POST"> 
        <br>
        <br>
        <p>Sell ETF</p>
        <br> 
        <input type="text" name="etf" placeholder="ETF" value="{{etf if etf}}"/><br> 
        <br> 
        <input type="text" name="amount" placeholder="Amount" value="{{amount if amount}}"/><br> 
        <br> 
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
</body> 
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <br>
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}