{% extends "home.html" %}
{% block title %} Register Page {% endblock %}
{% block content %}
<body class="text-center">
    <form action="#" method="POST">
        <br>
        <br>
        <p>Current Funds: {{currentFunds}}</p>
        <br>
        <p>Add amount</p><br>
        <input type="text" name="amount" value="{{amount if amount}}"/><br>
        <br> 
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    
    </form>
</body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <br>
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}
