{% extends "home.html" %}
{% block title %} Portfolio Page {% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">YTD</th>
            <th scope="col">Available</th>
        </tr>
    </thead>
    <tbody>    
        {% for list in etfList %}
            <tr>
                <td>{{ list[0] }}</td>
                <td>{{ list[1] }}</td>
                <td>{{ list[2] }}</td>
                <td>{{ list[3] }}</td>
                <td>{{ list[4] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}